<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>@title</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="stylesheet.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="container">
<div class="description">
<h1>oscP5</h1>
<p>oscP5 is an osc implementation for the programming environment <a href="./transfer.php?loc=http://www.processing.org" target="_blank" class="txt">processing</a>. osc is the acronym for open sound control</a>, a network protocol developed at cnmat, uc berkeley.<br />open sound control is a protocol for communication among computers, sound synthesizers, and other multimedia devices that is optimized for modern networking technology and has been used in many application areas. for further specifications and application implementations please visit the <a href="./transfer.php?loc=http://www.cnmat.berkeley.edu/OpenSoundControl/" target="_blank"  class="txt">official osc site</a></p>
</div>
<div class="links">
<h1>AIMMessage</h1>
<ul><li><a href="aimmessage_class_aimmessage.htm">AIMMessage</a></li>
<li><a href="aimmessage_method_channel.htm">channel ( )</a></li>
<li><a href="aimmessage_method_connection.htm">connection ( )</a></li>
<li><a href="aimmessage_method_from.htm">from ( )</a></li>
<li><a href="aimmessage_method_isprivate.htm">isPrivate ( )</a></li>
<li><a href="aimmessage_method_ispublic.htm">isPublic ( )</a></li>
<li><a href="aimmessage_method_message.htm">message ( )</a></li>
<li><a href="aimmessage_method_origin.htm">origin ( )</a></li>
</ul>
<h1>AIMGroup</h1>
<ul><li><a href="aimgroup_class_aimgroup.htm">AIMGroup</a></li>
<li><a href="aimgroup_method_addbuddy.htm">addBuddy ( )</a></li>
<li><a href="aimgroup_method_buddies.htm">buddies ( )</a></li>
<li><a href="aimgroup_method_buddy.htm">buddy ( )</a></li>
<li><a href="aimgroup_method_name.htm">name ( )</a></li>
<li><a href="aimgroup_method_removebuddy.htm">removeBuddy ( )</a></li>
<li><a href="aimgroup_method_status.htm">status ( )</a></li>
<li><a href="aimgroup_method_tostring.htm">toString ( )</a></li>
</ul>
<h1>AIMChannel</h1>
<ul><li><a href="aimchannel_class_aimchannel.htm">AIMChannel</a></li>
<li><a href="aimchannel_method_id.htm">id ( )</a></li>
<li><a href="aimchannel_method_leave.htm">leave ( )</a></li>
<li><a href="aimchannel_method_name.htm">name ( )</a></li>
<li><a href="aimchannel_method_sendmessage.htm">sendMessage ( )</a></li>
<li><a href="aimchannel_method_status.htm">status ( )</a></li>
<li><a href="aimchannel_method_tostring.htm">toString ( )</a></li>
<li><a href="aimchannel_method_users.htm">users ( )</a></li>
<li><a href="aimchannel_method_whisper.htm">whisper ( )</a></li>
</ul>
<h1>AIMBuddy</h1>
<ul><li><a href="aimbuddy_class_aimbuddy.htm">AIMBuddy</a></li>
<li><a href="aimbuddy_method_away.htm">away ( )</a></li>
<li><a href="aimbuddy_method_evil.htm">evil ( )</a></li>
<li><a href="aimbuddy_method_group.htm">group ( )</a></li>
<li><a href="aimbuddy_method_idle.htm">idle ( )</a></li>
<li><a href="aimbuddy_method_move.htm">move ( )</a></li>
<li><a href="aimbuddy_method_name.htm">name ( )</a></li>
<li><a href="aimbuddy_method_online.htm">online ( )</a></li>
<li><a href="aimbuddy_method_remove.htm">remove ( )</a></li>
<li><a href="aimbuddy_method_removedeny.htm">removeDeny ( )</a></li>
<li><a href="aimbuddy_method_removepermit.htm">removePermit ( )</a></li>
<li><a href="aimbuddy_method_sendmessage.htm">sendMessage ( )</a></li>
<li><a href="aimbuddy_method_setdeny.htm">setDeny ( )</a></li>
<li><a href="aimbuddy_method_setevil.htm">setEvil ( )</a></li>
<li><a href="aimbuddy_method_setpermit.htm">setPermit ( )</a></li>
<li><a href="aimbuddy_method_signondate.htm">signondate ( )</a></li>
<li><a href="aimbuddy_method_signontime.htm">signontime ( )</a></li>
<li><a href="aimbuddy_method_status.htm">status ( )</a></li>
<li><a href="aimbuddy_method_tostring.htm">toString ( )</a></li>
</ul>
<h1>AIM</h1>
<ul><li><a href="aim_class_aim.htm">AIM</a></li>
<li><a href="aim_method_addbuddies.htm">addBuddies ( )</a></li>
<li><a href="aim_method_addbuddy.htm">addBuddy ( )</a></li>
<li><a href="aim_method_addgroup.htm">addGroup ( )</a></li>
<li><a href="aim_method_addlistener.htm">addListener ( )</a></li>
<li><a href="aim_method_away.htm">away ( )</a></li>
<li><a href="aim_method_back.htm">back ( )</a></li>
<li><a href="aim_method_buddies.htm">buddies ( )</a></li>
<li><a href="aim_method_buddy.htm">buddy ( )</a></li>
<li><a href="aim_method_channel.htm">channel ( )</a></li>
<li><a href="aim_method_chathellomessage.htm">chatHelloMessage ( )</a></li>
<li><a href="aim_method_denybuddy.htm">denyBuddy ( )</a></li>
<li><a href="aim_method_denylist.htm">denylist ( )</a></li>
<li><a href="aim_method_group.htm">group ( )</a></li>
<li><a href="aim_method_groups.htm">groups ( )</a></li>
<li><a href="aim_method_info.htm">info ( )</a></li>
<li><a href="aim_method_join.htm">join ( )</a></li>
<li><a href="aim_method_listeners.htm">listeners ( )</a></li>
<li><a href="aim_method_loginname.htm">loginname ( )</a></li>
<li><a href="aim_method_logout.htm">logout ( )</a></li>
<li><a href="aim_method_movebuddy.htm">moveBuddy ( )</a></li>
<li><a href="aim_method_permitbuddy.htm">permitBuddy ( )</a></li>
<li><a href="aim_method_permitlist.htm">permitlist ( )</a></li>
<li><a href="aim_method_removebuddy.htm">removeBuddy ( )</a></li>
<li><a href="aim_method_removedenybuddy.htm">removeDenyBuddy ( )</a></li>
<li><a href="aim_method_removegroup.htm">removeGroup ( )</a></li>
<li><a href="aim_method_removelistener.htm">removeListener ( )</a></li>
<li><a href="aim_method_removepermitbuddy.htm">removePermitBuddy ( )</a></li>
<li><a href="aim_method_sendmessage.htm">sendMessage ( )</a></li>
<li><a href="aim_method_setchathellomessage.htm">setChatHelloMessage ( )</a></li>
<li><a href="aim_method_setinfo.htm">setInfo ( )</a></li>
<li><a href="aim_method_setpdmode.htm">setpdmode ( )</a></li>
<li><a href="aim_method_whisper.htm">whisper ( )</a></li>
</div>

</div>
</div>
</body>
</html>
