<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>oscP5 : : OscP5</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="stylesheet.css" rel="stylesheet" type="text/css">
</head>
<body> 
<div id="container">
<div class="description"><h1>OscP5</h1>
<dl>
<dt onclick="toggle(this)"><span>+</span>Examples</dt>
<dd><code>None available</code></dd>
</dl>
</div>
<div class="description">
<h1>Constructors</h1><pre>OscP5(theParent, theProperties);
OscP5(theParent, theMulticastAddress, theMulticastPort);
OscP5(theParent, theReceiveAtPort);
</pre>

   <dl><dt class="key">parameters</dt><dd class="value"><span class="key">theParent</span><span class="value">Object</span></dd>
<dd class="value"><span class="key">theProperties</span><span class="value">OscProperties</span></dd>
<dd class="value"><span class="key">theMulticastAddress</span><span class="value">String</span></dd>
<dd class="value"><span class="key">theMulticastPort</span><span class="value">int</span></dd>
<dd class="value"><span class="key">theReceiveAtPort</span><span class="value">int</span></dd>
</dl>


     <tr>
       <td class="mainText">Methods</td>
       <td valign=top class="descList">
         <table border=0 cellspacing=0 cellpadding=0>
           
      <tr>
        <td width="120" valign=top><a href="oscp5_method_plug.htm">plug ( )</a></td>
        <td width="20">&nbsp;</td>
        <td valign=top>osc messages can be automatically forwarded to a specific method
 of an object.the plug method can be used to by-pass parsing raw
 osc messages - this job is done for you with the plug mechanism.
 currently you cant plug arrays like int[], float[].
 working on it.<BR><BR></td>
	  </tr>
    
         </table>
	   </td>
	 </tr>
   
<h1>Usage</h1>Application
<h1>Related</h1>
</div>
</div>
</body>
</html>